.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  min-width: 400px;
  background-color: #ece5dd;
}

.iphone-frame {
  width: 375px;
  height: 812px; /* Altura del iPhone X, ajusta según tu imagen */
  background: url('./assets/iphone.png') no-repeat center center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
}